.App {
  text-align: center;
  font-family: 'Lexend Deca Variable', Fallback, sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* lexend-deca-latin-400-normal */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/lexend-deca@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/lexend-deca@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/lexend-deca@latest/latin-400-normal.ttf) format('truetype');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.banner {
  height: 40vh;
}

#navBar {
  z-index: 9999
}
#navBar a {
  text-decoration: none;
  font-family: 'Lexend Deca Variable', Fallback, sans-serif;
}

#navBar a.active {
  color: #ff5501
}

#navBar a:hover {
  color:   #ca4d10  ;
}

.filmCard{
  width: 13rem;
  margin-bottom: 2rem;
}

.blurPoster {
  filter: blur(5px); 
}

.filmTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pagBar > .active > .page-link{
  background-color: #ff5501;
  border-color: #ff5501;
  color: #fff;
}

.pagBar > .page-item > .page-link{
  color: #282c34;
}
/* 
.backdrop > .img {
  filter: blur(5px); 
} */

.filmContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(20px);
  opacity: .35;
  z-index: -99999;
}

.font-weight-bold {
  font-weight: bold;
  text-decoration: none;
}

.genreDiv {
  background-color: #282c34;
}
.genreButton {
  border-radius: 25px !important;
}

