.App {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner {
  height: 40vh;
}

#navBar {
  z-index: 9999
}
#navBar a {
  text-decoration: none;
  color: #ff5501;
}

#navBar a.active {
  color: #ff5501;
  border-bottom: solid #ff5501;
}

#navBar a:hover {
  color:   #ca4d10  ;
}

.filmCard{
  width: 13rem;
  margin-bottom: 2rem;
  border: none;
}

.blurPoster {
  filter: blur(5px); 
}

.filmTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actorCard > a , .filmCard > a{
  color:#ff5501;
  text-decoration: none;
}

.pagBar > .active > .page-link{
  background-color: #ff5501;
  border-color: #ff5501;
  color: #fff;
}

.pagBar > .page-item > .page-link{
  color: #282c34;
}
/* 
.backdrop > .img {
  filter: blur(5px); 
} */

.filmContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(20px);
  opacity: .35;
  z-index: -99999;
}
/* 
#homeBox {
   position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px) grayscale(100%);
  opacity: .9;
  z-index: -99999;
  background: url('/public/img/mollie-sivaram-yubCnXAA3H8-unsplash(1).jpg'); 
} */

.font-weight-bold {
  font-weight: bold;
  text-decoration: none;
}

.genreDiv {
  background-color: #ec8a5d;
  border-radius: 15px;
  padding: 1rem;
}
.genreButton {
  border-radius: 25px !important;
}

.buttonLink {
  text-decoration: none !important;
  color:#ff5501 !important;
}

.carousel {
  max-width: 100%;
  width: auto;
  height: auto;
}
